@using ExampleLibrary;
@page "/examples"
<h3>OxyPlot Example Gallery</h3>
<div class="btn-group">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @(Category?.Key ?? "Please select")
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var cat in Categories)
            {
                <a class="dropdown-item" @onclick="@(() =>
                                                     {
                                                         Category = cat;
                                                         ActiveExample = null;
                                                     })">@cat.Key #@(cat.Count())</a>
                                                }
        </div>
    </div>
    @if (Category != null)
    {
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @(ActiveExample?.Title ?? "Please select")
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var x in Category)
                {
                    <a class="dropdown-item" @onclick="@(() => ActiveExample = x)">@x.Title</a>
                }
            </div>
        </div>
    }
</div>
@if (ActiveExample != null)
{
    <h4>Plot</h4>
    <OxyPlot.Blazor.BlazorPlotView Width="800px" Height="600px" Model="ActiveExample.PlotModel" Controller="ActiveExample.PlotController"></OxyPlot.Blazor.BlazorPlotView>
    <h4>Modelcode</h4>
    <pre>@ActiveExample.Code</pre>
}
@code {
    public IEnumerable<IGrouping<string, ExampleInfo>> Categories => ExampleLibrary.Examples.GetList().GroupBy(i => i.Category);
    IGrouping<string, ExampleInfo> Category;
    ExampleInfo ActiveExample;
}
